.accueil {
  width: calc(100vw + 150px);
  position: relative;
  text-align: center;
  background-color: #282828;
  height: 100vh;
  padding-top: 6rem;
  color: #c1c1c1;
  text-transform: uppercase;
  @media only screen and (max-width: 900px) {
    width: calc(100vw + 166px);
    padding-top: 8rem;
    }
  &-name {
    font-size: 2rem;
    font-weight: 900;
    margin-right: 150px;

  }
  
  &-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 150px;
    @media only screen and (max-width: 900px) {
      margin-right: 166px;
      }
  }
  
  &-scroll {
    margin-right: 150px;
    padding-top: 5rem;
    width: 50px;
    stroke:#c1c1c1;
  }
}
.accueil-ensemble {
  margin-right: 150px;
    &-picture {
    width: 50%;
    margin-top: 1rem;
    margin: 1rem auto;
  }
  &-rond {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #790000;
  }
}
.accueil--open {
  padding-top: 12rem;

}
