.accueil {
  position: relative;
  text-align: center;
  background-color: #282828;
  height: 100vh;
  padding-top: 6rem;
  color: #c1c1c1;
  text-transform: uppercase;
  &-name {
    font-size: 2rem;
    font-weight: 900;

  }
  &-picture {
    width: 50%;
    margin-top: 1rem;

  }
  &-title {
    font-size: 1,5rem;
    font-weight: 900;
  }
  &-rond {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #790000;
  }
  &-scroll {
    padding-top: 5rem;
    width: 50px;
    stroke:#c1c1c1;
  }
}

.accueil--open {
  padding-top: 12rem;
}
