.scrollToTop {
  display: inline-flex;
  box-sizing: border-box;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #790000;
  align-items: flex-start; 
  justify-content: center;
  padding-top: 2rem;
  transform: rotate(3deg);
  &-link--1 {
   // text-align: center;
    display: block;
    width:41px;
    height:8px;
    background-color: #282828;
    transform: rotate(-48deg) translate(4px, 3px);
    transition:0.4s;
  }
    &-link--2 {
   // text-align: center;
    display: block;
    width:41px;
    height:8px;
    background-color: #282828;
    transform: rotate(39deg) translate(-10px, 5px);
    transition:0.4s;
  }
  &:hover {
    transform: rotate(-360deg);
    animation: returnArrow 1s;
    /* &::after {
      content: '';
      transform: rotate(363deg);
      animation: returnArrowInverse 1s
    } */
  }
}
.scrollToTop--nohover {
  transform: rotate(-360deg);
  animation: returnArrowInverse 1s
}
@keyframes returnArrow {
    0% {
   transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes returnArrowInverse {
    0% {
   transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}