.apropos {
  width: calc(100vw + 150px);
  height: 100vh;
  background-color: #c1c1c1;
  text-align: center;

  &-title {
    margin-right: 150px;
    padding-top: 3rem;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 2rem;
    margin-top: 0;
  }
  &-paragraph {
    margin-right: 150px;
    font-size: 1.5rem;
    color: #5a5a5a;
    padding: 2rem 3rem;
  }
}