.xp {
  width: calc(100vw + 150px);
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  
  &-title {
    margin-right: 150px;
    margin-top: 0;
    padding-top: 3rem;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 2rem;
    @media only screen and (max-width: 430px) {
      font-size: 1.5rem;
    }

  }
}

.xp-infos {
  width: 100%;
  border: 1px solid black;
  margin: 6rem 20rem 6rem 20rem;
  position: relative;
  box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 3px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999,
    6px 6px 0px #999; 
  background-color: #e6e6e6;
  @media only screen and (max-width: 1200px) {
    margin: 6rem 6rem 6rem 6rem;
    }
  @media only screen and (max-width: 900px) {
      margin: 6rem 6rem 6rem 6rem;
      }  
  @media only screen and (max-width: 500px) {
        margin: 6rem 7rem 6rem 6rem;
  } 
  @media only screen and (max-width: 450px) {
    width: 80%;
    margin: 6rem 7rem 6rem 1rem;
  }


  &-description {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: left;
    line-height: 2em;
    @media only screen and (max-width: 340px) {
      font-size: 0.6rem;
    }
    &--date {
      font-weight: 900;
      position: absolute;
      top: 10px;
      left: 10px;

    }

  }
  &-techno {
    padding-top: .3rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: left;
    line-height: 2em; 
    @media only screen and (max-width: 340px) {
    font-size: 0.6rem;
    }

    &--title {
      font-weight: 900;
      @media only screen and (max-width: 340px) {
        font-size: 0.6rem;
        }
    
    }

  }
  &-link {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 900;
    @media only screen and (max-width: 340px) {
      font-size: 0.6rem;
      }
  
  }
}
.xp-pictures{
  width: 100%;
  @media only screen and (max-width: 400px) {
    padding-right: 6rem;
   
  }
  @media only screen and (max-width: 320px) {
    padding-right: 6rem;
   
  }
}
.xp-pictures-img {
  width: 40%;
  box-shadow: 10px 10px 10px 10px #999;
  margin: 2rem;
  @media only screen and (max-width: 900px) {
    width: 50%;
    }
  @media only screen and (max-width: 500px) {
      width: 70%;
      margin-right: 2rem;
    }
    @media only screen and (max-width: 450px) {
      width: 70%;
      margin-right: 3rem;
     
    }


}
.xp-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;

}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.background--close {
  position: absolute;
  top: 0;
  right: 0;
}
.modalImage {
  object-fit: cover;
}
.modalImage > img {
  padding-top: 3rem;
  width: 70%;

  @media screen and (max-width: 500px){
    padding-top: 15rem;
    width: 98%;
  }
}
.background--close {
  position: fixed;
  top: 20px;
  right: 20px;
  //transform: translate(-50%, -50%);
  display: inline-block;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
 &-bar1 {
  transform:rotate(-45deg) translate(0px, 1px);
  display: block;
  width:32px;
  height:5px;
  background-color:#282828;
  margin:6px 0;
  transition:0.4s;
  &:hover{
    background-color:#790000;
  }
 }
 &-bar2 {
  transform:rotate(45deg) translate(-8px, -8px);
  display: block;
  width:32px;
  height:5px;
  background-color:#282828;
  margin:6px 0;
  transition:0.4s;
  &:hover{
    background-color:#790000;
  }
}

}