.xp {
  height: 500px;
  background-color: #ffffff;
  text-align: center;
  
  &-title {
    margin: 0;
    padding-top: 3rem;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 2rem;

  }
}