.contact {
  width: calc(100vw + 150px);
  height: 120vh;
  background-color: #282828;
  text-align: center;
  display: flex;
  flex-direction: column;

  &-title {
    margin-right: 150px;
      margin-top: 0;
      padding-top: 3rem;
      text-transform: uppercase;
      color: #5a5a5a;
      font-size: 2rem;
  
  }
  &-logo {
      width: 50%;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
  }
}

.form {
  margin-left: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  margin-right: -10rem;
  text-align: right;
  margin-top: 10rem;
  &-email {
    position: relative;
    text-align: left;
    &-label {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      color: #5a5a5a;

      &::before {
        content: 'Votre adresse email';

  
      }
      &--blur {
        top: -30px;
        transition: .3s ease;
        color:#790000;
      }
    }
    &-input {
    width: 60%;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #5a5a5a;
    background-color: #282828;
    &:focus {
        outline: none;
        border-bottom: 2px solid #790000;
        font-size: 1.5rem;
    }
    }
  }
  &-name {
    margin-top: 3rem;
    position: relative;
    text-align: left;
    &-label {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      color: #5a5a5a;
      &::before {
        content: 'Votre nom';
      }
      &--blur {
        top: -30px;
        transition: .3s ease;
        color:#790000;
      }
    }
    &-input {
      width: 60%;
      border-radius: 5px;
      border: 0;
      border-bottom: 2px solid #5a5a5a;
      background-color: #282828;
      
      &:focus {
        outline: none;
        font-size: 1.5rem;
        border-bottom: 2px solid #790000;
      }
    }
  }
  }
.form-textarea {
  margin-top: 3rem;
  position: relative;
  text-align: left;


  &-input {
    width: 60%;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    border-bottom: 2px solid #5a5a5a;
    background-color: #282828;
    color:#000;
    &::placeholder {
      color:#5a5a5a;
    }
    &:focus {
      outline: none;
      font-size: 1.5rem;
      border: 2px solid #790000;
      border-bottom: 2px solid #790000;
    }
  }
  }
.form-button {
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  background-color:#5a5a5a;
  border-radius: 10px;
  border:none;
  box-shadow: 0px 10px #1F454B;
  &:hover {
    transform: translateY(3px);
    box-shadow: 0px 7px#7A0C27;
  }
  &:active {
    transform: translateY(7px);
    box-shadow: 0px 3px #790000;
  }
 &-img {
   width: 15%;
   margin: 0 auto;

 }

}
.button {
  width: 60%;
  text-align: center;
}
.contact-logo{
  width: 50%;
  height: 100%;

}


.contact-logo-link {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  color: #5a5a5a;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  &--image {
    padding-right: 1rem;
    width: 50px;
    height: 50px;
    margin: auto;
  }
}
#mapid {
  padding-top:2rem;
  padding-bottom:2rem;
  height: 180px;
  margin: 0 auto;
  width: 250px;
  filter: brightness(0.7) invert(1) contrast(2.2) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}