  .contact {
    height: 100vh;
    background-color: #282828;
    text-align: center;

    &-title {
        margin: 0 auto;
        padding-top: 3rem;
        text-transform: uppercase;
        color: #5a5a5a;
        font-size: 2rem;
    
    }
  }