body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
  cursor: url('./assets/img/cursorRond.png'), pointer;
}
html {
    scroll-behavior: smooth;
    overflow-x:hidden;
    margin: 0;
    padding:0;
    /* cursor: none; */

}
