.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor--linkHover{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #790000;
}

.cursor--imgHover{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #fff;
}