.diplomes {
  width: calc(100vw + 150px);
  height: 100vh;
  background-color: #000;
  text-align: center;

  &-title {
    margin-right: 150px;
    margin-top: 0;
    padding-top: 3rem;
    text-transform: uppercase;
    color: #c1c1c1;
    font-size: 2rem;
    @media only screen and (max-width: 430px) {
      font-size: 1.5rem;
    }

  }
  &-names {
    margin-right: 150px;
    font-size: 1.5rem;
    color: #c1c1c1;
    padding: 2rem 25rem;
    text-align: left;
    @media only screen and (max-width: 1200px) {
      padding: 2rem 20rem;
      }
    @media only screen and (max-width: 1000px) {
        padding: 2rem 10rem;
      }
      @media only screen and (max-width: 600px) {
        padding: 2rem 6rem;
      }
      @media only screen and (max-width: 430px) {
        font-size: 1rem;
      }
  }
  &-date {
    padding-right: 3rem;
  }
}